## Google Cloud Platform
kubeconfig
credentials*.json

## Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate*

## Sensitive data
.ssh/
secrets.auto.tfvars

## Temporary overrides
overrides.auto.tfvars